.mod-box {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border-radius: 5px;
    }
}

.mod-title {
    color: #333;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    text-align: left;
    width: $innerwidth;
    margin: 0 0 10px 0;
    .family-b {
        color: #666;
        font-size: 14px;
    }
    .chang {
        font-size: 18px;
        color: #333;
        margin-right: 30px;
        margin-left: 10px;
        vertical-align: middle;
    }
    .over {
        margin-right: 10px;
        font-size: 18px;
        color: #333;
        vertical-align: middle;
    }
}

//1热门活动
.mod-active {
    // height: 295px;
    width: $innerwidth;
    // background-color: #111;
    display: flex;
    justify-content: space-between;
    img {
        width: 280px;
        height: 242px;
        border-radius: 5px;
        transition: 0.2s all ease-out;
    }
    img:hover {
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }
}

//2限时抢购
.limit {
    width: 74px;
    height: 24px;
    background-position: -12px -45px;
    background-image: url(https://p.ssl.qhimg.com/t019bd9e375d813e9d1.png);
    background-repeat: no-repeat;
    background-size: 200px 240px;
    display: inline-block;
}

.shijian {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #333;
    color: #fff;
    flex: 17px;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    font-weight: 18px;
}

.mod-limit {
    display: flex;
    // height: 443px;
    width: $innerwidth;
    // background-color: #111;
    >img {
        height: 380px;
        transition: 0.2s all ease-out;
    }
    >img:hover {
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }
    .right-a {
        flex-grow: 1;
        height: 400px;
        .right-box {
            transition: 0.2s all ease-out;
            width: 420px;
            height: 150px;
            margin: 0 0 20px 20px;
            background-color: #fff;
            float: left;
            display: flex;
            padding: 15px;
            >img {
                width: 160px;
                height: 160px;
            }
            >div {
                width: 255px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                b {
                    font-size: 18px;
                    color: #666666;
                }
                p>span:nth-child(1) {
                    color: #DD0e00;
                    font-size: 20px;
                }
                p>span:nth-child(2) {
                    color: #9B9B9B;
                    font-size: 13px;
                }
                >div {
                    width: 135px;
                    height: 35px;
                    background: #333;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 18px;
                    line-height: 35px;
                    margin-right: 15px;
                    text-align: center;
                }
            }
        }
        >.right-box:hover {
            // background: rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            transform: translateY(-2px);
        }
    }
}

//3爆款推荐
.mod-recommend {
    // height: 295px;
    width: $innerwidth;
    // background-color: #111;
    display: flex;
    justify-content: space-between;
    >img {
        width: 280px;
        height: 242px;
        border-radius: 5px;
    }
}

//4家庭安防
.mod-family {
    // height: 993px;
    width: $innerwidth;
    // background-color: #111;
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//5安全路由
.mod-safety {
    // height: 993px;
    width: $innerwidth;
    // background-color: #111;
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//6生态互联
.mod-connect {
    // height: 993px;
    width: $innerwidth;
    // background-color: #111;
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//7行车安全
.mod-drive {
    // height: 993px;
    width: $innerwidth;
    // background-color: #111;
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//8扫地机器人
.mod-robot {
    // height: 993px;
    width: $innerwidth;
    // background-color: #111;
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//9智能守护
.mod-smart {
    // height: 993px;
    width: $innerwidth;
    // width: 1200px;
    // background-color: #111;
    >div:nth-of-type(2) {
        margin: 0 0 20px 0;
    }
    >div:nth-of-type(6) {
        margin: 0 0 20px 0;
    }
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//10发现好货
.mod-find {
    // height: 993px;
    width: $innerwidth;
    // background-color: #111;
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//11更多商品
.mod-goods {
    @include clearfix();
    // height: 1530px;
    width: $innerwidth;
    // background-color: #111;
    >div:nth-of-type(5n) {
        margin: 0 0 20px 0;
    }
    >div {
        width: 220px;
        height: 345px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        background-color: #fff;
        float: left;
        >img {
            width: 180px;
            height: 180px;
            margin-top: 20px;
        }
        >p:nth-of-type(1) {
            width: 180px;
            margin-top: 25px;
            font-size: 14px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 20px;
            color: #DD0e00;
            margin: 25px 0 15px 0;
            line-height: 100%;
        }
        >p:nth-of-type(3) {
            font-size: 12px;
            color: #F17F38;
            width: 52px;
            height: 17px;
            text-align: center;
            border: 1px solid #F17F38;
        }
    }
}

//楼梯栏
.leftside-box {
    width: 80px;
    height: 330px;
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: 598px;
    display: none;
    a {
        display: block;
        width: 80px;
        height: 30px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        li {
            box-sizing: border-box;
            text-align: center;
            line-height: 30px;
            width: 80px;
            height: 30px;
            font-size: 12px;
            color: #666;
            border-bottom: 1px solid #eee;
        }
        >li.active {
            width: 100;
            color: #dd0e00;
            background: #f6f6f6;
            font-weight: 800;
        }
    }
}

//右侧栏
.rightside-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 39px;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e7e7e7;
    >span:nth-of-type(1):hover i {
        display: block;
        z-index: 2;
    }
    >span:nth-of-type(1) {
        width: 39px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 53%;
        >i {
            border-radius: 2px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            position: absolute;
            right: 40px;
            top: 0;
            font-size: 12px;
            line-height: 30px;
            opacity: 0.8;
            text-align: center;
            width: 80px;
            height: 30px;
            color: #333;
            background-color: #fff;
            display: none;
        }
        b {
            width: 20px;
            height: 20px;
            display: block;
            background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
            background-position: -172px -80px;
        }
    }
    >div:hover div {
        visibility: visible;
    }
    >div {
        width: 39px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 50%;
        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: -105px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            color: #333;
            border-radius: 2px;
            right: 39px;
            width: 106px;
            height: 128px;
            padding: 2px;
            background-color: #fff;
            visibility: hidden;
            >span {
                font-size: 14px;
                color: #333;
            }
        }
        b {
            width: 20px;
            height: 20px;
            display: block;
            background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
            background-position: -172px -104px;
        }
    }
    >span:nth-of-type(2) {
        width: 39px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 214px;
        b {
            width: 20px;
            height: 20px;
            display: block;
            background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
            background-position: -172px -154px;
        }
    }
    >span:nth-of-type(3) {
        width: 39px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 184px;
        b {
            width: 20px;
            height: 20px;
            display: block;
            background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
            background-position: -172px -180px;
        }
    }
}

//我已经陪你到底了
.wrapwrap {
    display: flex;
    justify-content: center;
    .bottom-title {
        width: 334px;
        height: 34px;
        columns: #666;
        font-size: 18px;
        text-align: center;
        line-height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
         ::before {
            background: #333;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            width: 90px;
            left: 0;
            top: 17px;
        }
         ::after {
            background: #333;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            width: 90px;
            right: 0;
            top: 17px;
        }
    }
}