.mod-box {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border-radius: 5px;
    }
}

.mod-title {
    color: #333;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    text-align: left;
    width: $innerwidth;
    margin: 0 0 10px 0;
    .family-b {
        color: #666;
        font-size: 14px;
    }
}

//1热门活动
.mod-active {
    // height: 295px;
    width: $innerwidth;
    // background-color: #111;
    display: flex;
    justify-content: space-between;
    img {
        width: 280px;
        height: 242px;
        border-radius: 5px;
    }
}

//2限时抢购
.limit {
    width: 74px;
    height: 24px;
    background-position: -12px -45px;
    background-image: url(https://p.ssl.qhimg.com/t019bd9e375d813e9d1.png);
    background-repeat: no-repeat;
    background-size: 200px 240px;
    display: inline-block;
}

.mod-limit {
    display: flex;
    // height: 443px;
    width: $innerwidth;
    // background-color: #111;
    img {
        height: 380px;
    }
    .right {
        flex-grow: 1;
        height: 400px;
        .right-box {
            width: 420px;
            height: 150px;
            margin: 0 0 20px 20px;
            background-color: #fff;
            float: left;
            display: flex;
            padding: 15px;
            >img {
                width: 160px;
                height: 160px;
            }
            >div {
                width: 255px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                b {
                    font-size: 18px;
                    color: #666666;
                }
                p>span:nth-child(1) {
                    color: #DD0e00;
                    font-size: 20px;
                }
                p>span:nth-child(2) {
                    color: #9B9B9B;
                    font-size: 13px;
                }
                >div {
                    width: 135px;
                    height: 35px;
                    background: #333;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 18px;
                    line-height: 35px;
                    margin-right: 15px;
                    text-align: center;
                }
            }
        }
    }
}

//3爆款推荐
.mod-recommend {
    // height: 295px;
    width: $innerwidth;
    // background-color: #111;
    display: flex;
    justify-content: space-between;
    >img {
        width: 280px;
        height: 242px;
        border-radius: 5px;
    }
}

//4家庭安防
.mod-family {
    // height: 993px;
    width: $innerwidth;
    // background-color: #111;
    img {
        width: 580px;
        height: 460px;
        float: left;
        margin: 0 20px 20px 0;
    }
    .family-box {
        float: left;
        width: 280px;
        height: 460px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 20px 0;
        border-radius: 5px;
        >img {
            margin-top: 50px;
            width: 240px;
            height: 240px;
        }
        >p:nth-of-type(1) {
            margin-top: 30px;
            font-size: 18px;
            color: #333;
        }
        >p:nth-of-type(2) {
            font-size: 14px;
            color: #999;
            margin-bottom: 10px;
        }
        >div span:nth-child(1) {
            font-size: 20px;
            color: #DD0e00;
        }
        >div span:nth-child(2) {
            font-size: 14px;
            color: #999;
        }
    }
}

//5安全路由
.mod-safety {
    height: 993px;
    width: $innerwidth;
    background-color: #111;
}

//6生态互联
.mod-connect {
    height: 993px;
    width: $innerwidth;
    background-color: #111;
}

//7行车安全
.mod-drive {
    height: 993px;
    width: $innerwidth;
    background-color: #111;
}

//8扫地机器人
.mod-robot {
    height: 993px;
    width: $innerwidth;
    background-color: #111;
}

//9智能守护
.mod-smart {
    height: 993px;
    width: $innerwidth;
    background-color: #111;
}

//10发现好货
.mod-find {
    height: 993px;
    width: $innerwidth;
    background-color: #111;
}

//11更多商品
.mod-goods {
    height: 1530px;
    width: $innerwidth;
    background-color: #111;
}