$innerwidth:1180px;
$initbgcolor:#f0f0f0;
$initftcolor:#666;
@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin boxsize($w) {
    width: $w;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $initbgcolor;
    color: $initftcolor;
}

html,
body {
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

b,
strong {
    font-weight: 500;
}

i,
em {
    font-style: normal;
}

ul,
li,
ol {
    list-style: none;
}