* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  color: #666;
}

html,
body {
  height: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

i,
em {
  font-style: normal;
}

ul,
li,
ol {
  list-style: none;
}

#wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-head-smallbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #333;
}

.wrap-head-smallbox .head-smallbox {
  width: 1180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-head-smallbox .head-smallbox .head-smallbox-left a {
  font-size: 12px;
  margin-right: 25px;
  line-height: 40px;
  color: white;
}

.wrap-head-smallbox .head-smallbox .head-smallbox-right a {
  font-size: 12px;
  margin-left: 25px;
  line-height: 40px;
  color: white;
}

.wrap-head-smallbox .head-smallbox .head-smallbox-right i {
  background-image: url(../img/t019bd9e375d813e9d1.png);
  background-repeat: no-repeat;
  background-size: 200px 240px;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 24px;
  background-position: -110px -48px;
  margin: -4px 0 0 25px;
}

.wrap-head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #333;
}

.wrap-head-nav .head-nav {
  margin-top: 40px;
  width: 1180px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrap-head-nav .head-nav i {
  background: url(https://p.ssl.qhimg.com/t0102789b8d00c3dfce.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 36px;
  width: 180px;
  display: inline-block;
}

.wrap-head-nav .head-nav .head-nav-one {
  width: 500px;
}

.wrap-head-nav .head-nav .head-nav-one a {
  margin-right: 50px;
  font-size: 18px;
  color: #333;
}

.wrap-head-nav .head-nav .head-nav-two {
  width: 420px;
  height: 36px;
  border-radius: 18px;
  text-align: center;
}

.wrap-head-nav .head-nav .head-nav-two div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0 10px 0;
}

.wrap-head-nav .head-nav .head-nav-two input {
  width: 340px;
  height: 24px;
  border: none;
  outline: none;
}

.wrap-head-nav .head-nav .head-nav-two i {
  background-image: url(../img/t019bd9e375d813e9d1.png);
  background-repeat: no-repeat;
  background-size: 200px 240px;
  display: inline-block;
  background-position: -170px -48px;
  height: 24px;
  width: 24px;
}

.wrap-head-nav .head-nav .head-nav-two a {
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}

.rightside-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 39px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #e7e7e7;
}

.rightside-box > span:nth-of-type(1) {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 53%;
}

.rightside-box > span:nth-of-type(1) b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -80px;
}

.rightside-box > span:nth-of-type(2) {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50%;
}

.rightside-box > span:nth-of-type(2) b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -104px;
}

.rightside-box > span:nth-of-type(3) {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 214px;
}

.rightside-box > span:nth-of-type(3) b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -154px;
}

.rightside-box > span:nth-of-type(4) {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 184px;
}

.rightside-box > span:nth-of-type(4) b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -180px;
}

.footer-top-wrap {
  width: 100%;
  height: 367px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top-wrap .footer-top {
  width: 1180px;
  height: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top-wrap .footer-top .footer-top-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top-wrap .footer-top .footer-top-left p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 900;
  color: #333;
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-left .one {
  width: 264px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(2) {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.footer-top-wrap .footer-top .footer-top-left .one > div {
  width: 264px;
  height: 1px;
  background-color: #333;
  margin: 19px 0 20px 0;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(3) span {
  vertical-align: middle;
  font-size: 14px;
  color: #333;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(3) > span:nth-of-type(2) {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 15px;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -8px -160px;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(3) > span:nth-of-type(3) {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 15px;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -40px -160px;
}

.footer-top-wrap .footer-top .footer-top-left .two {
  width: 130px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .two a {
  color: #666;
  font-size: 14px;
  line-height: 24px;
}

.footer-top-wrap .footer-top .footer-top-left .two p:nth-of-type(1) {
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-left .two p {
  margin-bottom: 6px;
}

.footer-top-wrap .footer-top .footer-top-left .three {
  width: 98px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .three a {
  color: #666;
  font-size: 14px;
  line-height: 24px;
}

.footer-top-wrap .footer-top .footer-top-left .three p:nth-of-type(1) {
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-left .three p {
  margin-bottom: 6px;
}

.footer-top-wrap .footer-top .footer-top-left .four {
  width: 128px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .four p:nth-of-type(1) {
  text-indent: 8px;
}

.footer-top-wrap .footer-top .footer-top-left .four img {
  width: 128px;
  height: 128px;
}

.footer-top-wrap .footer-top .footer-top-right {
  width: 301px;
  height: 230px;
  border-left: 1px solid #979797;
}

.footer-top-wrap .footer-top .footer-top-right p {
  text-align: center;
}

.footer-top-wrap .footer-top .footer-top-right > p:nth-of-type(1) {
  font-size: 18px;
  color: #333;
  font-weight: 900;
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-right > p:nth-of-type(2) {
  font-size: 28px;
  color: #333;
  font-weight: 900;
  margin-bottom: 3px;
}

.footer-top-wrap .footer-top .footer-top-right > p:nth-of-type(3) {
  font-size: 14px;
  color: #999;
}

.cart {
  width: 1020px;
}

.cart .cart-top {
  margin-top: 19px;
  width: 1020px;
  background-color: #fff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-top > span {
  text-align: center;
  color: #333333;
  font-size: 14px;
  font-family: SourceHanSansCN-Bold, SourceHanSansCN;
  font-weight: 700;
}

.cart .cart-top > span:nth-of-type(1) {
  margin-left: 8px;
  width: 62px;
}

.cart .cart-top > span:nth-of-type(2) {
  width: 352px;
}

.cart .cart-top > span:nth-of-type(3) {
  width: 200px;
}

.cart .cart-top > span:nth-of-type(4) {
  width: 105px;
}

.cart .cart-top > span:nth-of-type(5) {
  width: 106px;
}

.cart .cart-top > span:nth-of-type(6) {
  width: 106px;
}

.cart .cart-top > span:nth-of-type(7) {
  width: 105px;
}

.cart .youhui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .youhui .youhui-left {
  color: #333333;
  font-size: 14px;
  font-family: SourceHanSansCN-Bold, SourceHanSansCN;
  font-weight: 700;
  margin-left: 21px;
}

.cart .youhui .youhui-right {
  background: url(https://p2.ssl.qhimg.com/t01a4c2182bcdd8ea59.png) no-repeat;
  color: #f33;
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 21px;
  line-height: 21px;
  margin-left: 10px;
  position: relative;
  text-align: center;
  text-indent: 0;
  width: 55px;
  font-weight: 700;
}

.cart .cart-content {
  width: 1020px;
  background-color: #fff;
  height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
}

.cart .cart-content > div {
  text-align: center;
}

.cart .cart-content > div:nth-of-type(1) {
  width: 62px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #fff;
}

.cart .cart-content > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 352px;
}

.cart .cart-content > div:nth-of-type(2) > img {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 68px;
  width: 68px;
}

.cart .cart-content > div:nth-of-type(2) > p {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.cart .cart-content > div:nth-of-type(2) > p > span {
  color: #333;
  font-size: 14px;
}

.cart .cart-content > div:nth-of-type(3) {
  width: 200px;
  font-size: 14px;
  color: #333;
}

.cart .cart-content > div:nth-of-type(4) {
  width: 105px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.cart .cart-content > div:nth-of-type(5) {
  width: 106px;
}

.cart .cart-content > div:nth-of-type(5) .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.cart .cart-content > div:nth-of-type(5) .number > span:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #999999;
  font-size: 14px;
  border: 1px solid #ddd;
  margin-left: -1px;
  width: 42px;
  height: 28px;
}

.cart .cart-content > div:nth-of-type(5) .number > button:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  color: #DDD;
  background-color: #fff;
  font-size: 16px;
  border: 1px solid #ddd;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.cart .cart-content > div:nth-of-type(5) .number > button:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  color: #333;
  background-color: #f6f6f6;
  font-size: 16px;
  border: 1px solid #ddd;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: -1px;
}

.cart .cart-content > div:nth-of-type(6) {
  width: 106px;
  font-size: 14px;
  color: #FF3333;
}

.cart .cart-content > div:nth-of-type(7) {
  width: 105px;
  font-size: 14px;
  color: #333;
}

.cart-resolve {
  margin-bottom: 29px;
  margin-top: 19px;
  width: 1020px;
  background-color: #fff;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-resolve > span {
  text-align: center;
  color: #333333;
  font-size: 14px;
  font-family: SourceHanSansCN-Bold, SourceHanSansCN;
  font-weight: 700;
}

.cart-resolve > span:nth-of-type(1) {
  margin-left: 8px;
  width: 62px;
}

.cart-resolve > span:nth-of-type(2) {
  text-align: left;
  width: 462px;
  font-size: 14px;
  margin-left: 20px;
  color: #333;
}

.cart-resolve > p > b:nth-of-type(1) {
  font-size: 16px;
  color: #333;
}

.cart-resolve > p > b:nth-of-type(2) {
  font-size: 14px;
  color: #ff3333;
}

.cart-resolve > span:nth-of-type(3) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff3333), to(#ff6633));
  background: -o-linear-gradient(top, #ff3333 0, #ff6633 100%);
  background: linear-gradient(180deg, #ff3333 0, #ff6633 100%);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 160px;
  margin-left: 55px;
}

.footer-bottom-wrap {
  position: relative;
  z-index: 1000px;
  width: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom-wrap .footer-bottom {
  width: 1180px;
  height: 100%;
}

.footer-bottom-wrap .footer-bottom .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81px;
  border-bottom: 1px solid #666;
  margin-bottom: 18px;
}

.footer-bottom-wrap .footer-bottom .top a {
  font-size: 24px;
  color: #FFF;
  margin-right: 150px;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(3) {
  vertical-align: middle;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(3) > b {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url(../img/t019bd9e375d813e9d1.png);
  background-position: -9px 283px;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(2) {
  vertical-align: middle;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(2) > b {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url(../img/t019bd9e375d813e9d1.png);
  background-position: -45px 283px;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(1) {
  vertical-align: middle;
  margin-right: 0;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(1) > b {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url(../img/t019bd9e375d813e9d1.png);
  background-position: -80px 283px;
}

.footer-bottom-wrap .footer-bottom .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 119px;
}

.footer-bottom-wrap .footer-bottom .bottom > p {
  font-size: 14px;
  color: #FFF;
  line-height: 20px;
}

.footer-bottom-wrap .footer-bottom .bottom > p:nth-of-type(3) {
  font-size: 12px;
  color: #FFFFFF80;
}

.footer-bottom-wrap .footer-bottom .bottom > p:nth-of-type(4) {
  font-size: 12px;
  color: #FFFFFF80;
}
/*# sourceMappingURL=cart.css.map */