* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  color: #666;
}

html,
body {
  height: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

i,
em {
  font-style: normal;
}

ul,
li,
ol {
  list-style: none;
}

#zhao {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

#zhao .registry {
  width: 450px;
  height: 484px;
  background-color: #fff;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10002;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#zhao .registry > .btnn {
  color: #D2d0d0;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
}

#zhao .registry > .yi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 360px;
  height: 25px;
  padding-top: 40px;
  font-size: 20px;
}

#zhao .registry > .yi > i {
  display: inline;
  color: #36b447;
}

#zhao .registry form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#zhao .registry form > span {
  font-size: 13px;
  text-indent: 6px;
}

#zhao .registry form > input {
  outline: none;
}

#zhao .registry form > input:nth-of-type(1) {
  margin-top: 30px;
  width: 330px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-indent: 10px;
}

#zhao .registry form > input:nth-of-type(2) {
  margin-top: 30px;
  width: 330px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-indent: 10px;
}

#zhao .registry form > input:nth-of-type(3) {
  margin-top: 30px;
  width: 330px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-indent: 10px;
}

#zhao .registry form > .ma {
  margin-top: 20px;
  width: 330px;
  height: 42px;
  border-radius: 2px;
  font-size: 14px;
  text-indent: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#zhao .registry form > .ma > input {
  float: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #ddd;
  margin-right: -1px;
  height: 42px;
  text-indent: 10px;
  outline: none;
}

#zhao .registry form > .ma > div {
  float: left;
  text-align: center;
  line-height: 42px;
  width: 121px;
  height: 42px;
  color: #36b447;
  border: 1px solid #ddd;
}

#zhao .registry form .er {
  width: 330px;
  height: 42px;
  border: none;
  border-color: #36b447;
  background-color: #36b447;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
  border-radius: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#zhao .registry > p {
  margin-top: 8px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#zhe {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

#zhe .login {
  width: 360px;
  height: 332px;
  background-color: #fff;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10002;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#zhe .login > .btns {
  color: #D2d0d0;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
}

#zhe .login > .yi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 360px;
  height: 25px;
  padding-top: 40px;
  font-size: 20px;
}

#zhe .login > .yi > i:hover {
  display: inline;
  color: #36b447;
}

#zhe .login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#zhe .login form > input:nth-of-type(1) {
  outline: none;
  margin-top: 30px;
  width: 300px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-indent: 10px;
}

#zhe .login form > input:nth-of-type(2) {
  margin-top: 15px;
  width: 300px;
  height: 42px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-indent: 10px;
  outline: none;
}

#zhe .login form > span {
  font-size: 13px;
  text-indent: 6px;
}

#zhe .login form .deng {
  margin-top: 15px;
  width: 300px;
  height: 42px;
  border-color: #36b447;
  background-color: #36b447;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
  border-radius: 2px;
}

#zhe .login > .ma {
  margin-top: 20px;
  width: 300px;
  height: 42px;
  border-radius: 2px;
  font-size: 14px;
  text-indent: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#zhe .login > .ma > input {
  float: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #ddd;
  margin-right: -1px;
  height: 42px;
  text-indent: 10px;
}

#zhe .login > .ma > div {
  float: left;
  text-align: center;
  line-height: 42px;
  width: 121px;
  height: 42px;
  color: #36b447;
  border: 1px solid #ddd;
}

#zhe .login > p {
  margin-top: 8px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#zhe .login > p a {
  color: #666;
}

.zhezhao {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(28, 28, 30, 0.75);
}

.zhezhao > div {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 533px;
  background: url(https://p1.ssl.qhimg.com/t01c97472d866987cc2.png) no-repeat;
  background-size: 400px 533px;
}

.zhezhao > div b {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../img/btn.png);
  background-size: 24px 24px;
  cursor: pointer;
}

.banner-small {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.banner-small img {
  width: 100%;
  height: 100%;
}

.wrap-head-smallbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 90px;
  z-index: 1000;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #333;
}

.wrap-head-smallbox .head-smallbox {
  width: 1180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-head-smallbox .head-smallbox .head-smallbox-left a {
  font-size: 12px;
  margin-right: 25px;
  line-height: 40px;
  color: white;
}

.wrap-head-smallbox .head-smallbox .admin {
  font-size: 12px;
  margin-left: 25px;
  line-height: 40px;
  color: white;
}

.wrap-head-smallbox .head-smallbox .admin i {
  background-image: url(../img/t019bd9e375d813e9d1.png);
  background-repeat: no-repeat;
  background-size: 200px 240px;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 24px;
  background-position: -110px -48px;
  margin: -4px 0 0 25px;
}

.wrap-head-smallbox .head-smallbox .admin a {
  font-size: 12px;
  margin-left: 10px;
  line-height: 40px;
  color: white;
}

.wrap-head-smallbox .head-smallbox .head-smallbox-right a {
  font-size: 12px;
  margin-left: 25px;
  line-height: 40px;
  color: white;
}

.wrap-head-smallbox .head-smallbox .head-smallbox-right i {
  background-image: url(../img/t019bd9e375d813e9d1.png);
  background-repeat: no-repeat;
  background-size: 200px 240px;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 24px;
  background-position: -110px -48px;
  margin: -4px 0 0 25px;
}

.wrap-head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: white;
  margin-top: 130px;
}

.wrap-head-nav .head-nav {
  width: 1180px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrap-head-nav .head-nav i {
  background: url(https://p.ssl.qhimg.com/t0102789b8d00c3dfce.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 36px;
  width: 180px;
  display: inline-block;
}

.wrap-head-nav .head-nav .head-nav-one {
  width: 500px;
}

.wrap-head-nav .head-nav .head-nav-one a {
  margin-right: 50px;
  font-size: 18px;
  color: #333;
}

.wrap-head-nav .head-nav .head-nav-two {
  width: 420px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 18px;
  text-align: center;
}

.wrap-head-nav .head-nav .head-nav-two div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0 10px 0;
}

.wrap-head-nav .head-nav .head-nav-two input {
  width: 340px;
  height: 24px;
  border: none;
  outline: none;
}

.wrap-head-nav .head-nav .head-nav-two i {
  background-image: url(../img/t019bd9e375d813e9d1.png);
  background-repeat: no-repeat;
  background-size: 200px 240px;
  display: inline-block;
  background-position: -170px -48px;
  height: 24px;
  width: 24px;
}

.wrap-head-nav .head-nav .head-nav-two a {
  font-size: 12px;
  color: #666;
  margin-right: 10px;
}

.wrap-head-nav .head-nav .menu-list {
  width: 230px;
  height: 530px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap-head-nav .head-nav .menu-list p {
  width: 230px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  background: rgba(51, 51, 51, 0.7);
}

.wrap-head-nav .head-nav .menu-list p > a {
  color: #fff;
  vertical-align: middle;
}

.wrap-head-nav .head-nav .menu-list p > b {
  width: 15px;
  height: 15px;
  background: url(../img/class.png);
  background-size: 15px 15px;
  display: inline-block;
  vertical-align: middle;
}

.wrap-head-nav .head-nav .menu-list > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: rgba(51, 51, 51, 0.6);
  padding-left: 40px;
}

.wrap-head-nav .head-nav .menu-list > li a {
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
}

.wrap-head-nav .head-nav .menu-list > li > b {
  margin-right: 5px;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-size: 19px 19px;
  vertical-align: middle;
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(1) > b {
  background: url(../img/luyouqi.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(2) > b {
  background: url(../img/dangao.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(3) > b {
  background: url(../img/dunpai.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(4) > b {
  background: url(../img/dianqi.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(5) > b {
  background: url(../img/car.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(6) > b {
  background: url(../img/sofa.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(7) > b {
  background: url(../img/kouzhao.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(8) > b {
  background: url(../img/fushi.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(9) > b {
  background: url(../img/wanju.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(10) > b {
  background: url(../img/yundong.webp);
}

.wrap-head-nav .head-nav .menu-list > li:nth-of-type(1) > b {
  background: url(../img/luyouqi.webp);
}

.wrap-head-nav .head-nav .menu-list > li.active {
  background: rgba(51, 51, 51, 0.7);
}

.wrap-head-nav .head-nav .menu-list-two {
  z-index: 5;
  height: 530px;
  width: 950px;
  position: absolute;
  left: 230px;
  top: 102px;
  background: rgba(51, 51, 51, 0.7);
  display: none;
}

.wrap-head-nav .head-nav .menu-list-two > div.item {
  padding-top: 20px;
  z-index: 0;
  width: 950px;
  height: 510px;
  display: none;
  background-color: #fff;
}

.twomenu > div:hover {
  color: #999;
}

.twomenu > div {
  width: 67px;
  height: 24px;
  color: #333;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 35px;
  float: left;
  border-right: 1px solid #000;
}

.twomenu > ul {
  width: 763px;
  float: left;
  margin-bottom: 15px;
}

.twomenu > ul li {
  width: 231px;
  height: 65px;
  margin: 0px 15px 19px 0px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.twomenu > ul li > img {
  margin: 0 5px 0 5px;
  width: 65px;
  height: 65px;
}

.twomenu > ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  color: #666;
}

.twomenu > ul li p > strong {
  background: #e42a2a;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  width: 28px;
  height: 15px;
  line-height: 13px;
  text-align: center;
  display: inline-block;
}

.twomenu > ul li p > span:hover {
  color: #999;
}

.twomenu > ul li p > span {
  color: #000;
}

.banner-big {
  width: 100%;
  height: 530px;
  position: relative;
}

.banner-big img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.banner-big .left {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -360px;
  margin-top: -36px;
  width: 42px;
  height: 72px;
  border-radius: 2px;
  opacity: 0.2;
  background-image: url(https://p.ssl.qhimg.com/t01f23388c6d94b6dfb.png);
  background-repeat: no-repeat;
  background-color: black;
  background-position: -179px -143px;
}

.banner-big .right {
  width: 42px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin-top: -36px;
  margin-right: -590px;
  border-radius: 2px;
  right: 50%;
  top: 50%;
  opacity: 0.5;
  background-image: url(https://p.ssl.qhimg.com/t01f23388c6d94b6dfb.png);
  background-repeat: no-repeat;
  background-position: -177px -74px;
}

.banner-big ol {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 158px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-big ol li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #000;
}

.banner-big ol li.active {
  background-color: #fff;
}

.mod-box {
  padding-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod-box img {
  border-radius: 5px;
}

.mod-title {
  color: #333;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  text-align: left;
  width: 1180px;
  margin: 0 0 10px 0;
}

.mod-title .family-b {
  color: #666;
  font-size: 14px;
}

.mod-title .chang {
  font-size: 18px;
  color: #333;
  margin-right: 30px;
  margin-left: 10px;
  vertical-align: middle;
}

.mod-title .over {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
  vertical-align: middle;
}

.mod-active {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mod-active img {
  width: 280px;
  height: 242px;
  border-radius: 5px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.mod-active img:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.limit {
  width: 74px;
  height: 24px;
  background-position: -12px -45px;
  background-image: url(https://p.ssl.qhimg.com/t019bd9e375d813e9d1.png);
  background-repeat: no-repeat;
  background-size: 200px 240px;
  display: inline-block;
}

.shijian {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #333;
  color: #fff;
  -webkit-box-flex: 17px;
      -ms-flex: 17px;
          flex: 17px;
  border-radius: 3px;
  text-align: center;
  line-height: 25px;
  font-weight: 18px;
}

.mod-limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1180px;
}

.mod-limit > img {
  height: 380px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.mod-limit > img:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.mod-limit .right-a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 400px;
}

.mod-limit .right-a .right-box {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  width: 420px;
  height: 150px;
  margin: 0 0 20px 20px;
  background-color: #fff;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.mod-limit .right-a .right-box > img {
  width: 160px;
  height: 160px;
}

.mod-limit .right-a .right-box > div {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mod-limit .right-a .right-box > div b {
  font-size: 18px;
  color: #666666;
}

.mod-limit .right-a .right-box > div p > span:nth-child(1) {
  color: #DD0e00;
  font-size: 20px;
}

.mod-limit .right-a .right-box > div p > span:nth-child(2) {
  color: #9B9B9B;
  font-size: 13px;
}

.mod-limit .right-a .right-box > div > div {
  width: 135px;
  height: 35px;
  background: #333;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  margin-right: 15px;
  text-align: center;
}

.mod-limit .right-a > .right-box:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.mod-recommend {
  width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mod-recommend > img {
  width: 280px;
  height: 242px;
  border-radius: 5px;
}

.mod-family {
  width: 1180px;
}

.mod-family img {
  width: 580px;
  height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}

.mod-family .family-box {
  float: left;
  width: 280px;
  height: 460px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  border-radius: 5px;
}

.mod-family .family-box > img {
  margin-top: 50px;
  width: 240px;
  height: 240px;
}

.mod-family .family-box > p:nth-of-type(1) {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

.mod-family .family-box > p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.mod-family .family-box > div span:nth-child(1) {
  font-size: 20px;
  color: #DD0e00;
}

.mod-family .family-box > div span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.mod-safety {
  width: 1180px;
}

.mod-safety img {
  width: 580px;
  height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}

.mod-safety .family-box {
  float: left;
  width: 280px;
  height: 460px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  border-radius: 5px;
}

.mod-safety .family-box > img {
  margin-top: 50px;
  width: 240px;
  height: 240px;
}

.mod-safety .family-box > p:nth-of-type(1) {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

.mod-safety .family-box > p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.mod-safety .family-box > div span:nth-child(1) {
  font-size: 20px;
  color: #DD0e00;
}

.mod-safety .family-box > div span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.mod-connect {
  width: 1180px;
}

.mod-connect img {
  width: 580px;
  height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}

.mod-connect .family-box {
  float: left;
  width: 280px;
  height: 460px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  border-radius: 5px;
}

.mod-connect .family-box > img {
  margin-top: 50px;
  width: 240px;
  height: 240px;
}

.mod-connect .family-box > p:nth-of-type(1) {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

.mod-connect .family-box > p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.mod-connect .family-box > div span:nth-child(1) {
  font-size: 20px;
  color: #DD0e00;
}

.mod-connect .family-box > div span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.mod-drive {
  width: 1180px;
}

.mod-drive img {
  width: 580px;
  height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}

.mod-drive .family-box {
  float: left;
  width: 280px;
  height: 460px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  border-radius: 5px;
}

.mod-drive .family-box > img {
  margin-top: 50px;
  width: 240px;
  height: 240px;
}

.mod-drive .family-box > p:nth-of-type(1) {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

.mod-drive .family-box > p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.mod-drive .family-box > div span:nth-child(1) {
  font-size: 20px;
  color: #DD0e00;
}

.mod-drive .family-box > div span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.mod-robot {
  width: 1180px;
}

.mod-robot img {
  width: 580px;
  height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}

.mod-robot .family-box {
  float: left;
  width: 280px;
  height: 460px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  border-radius: 5px;
}

.mod-robot .family-box > img {
  margin-top: 50px;
  width: 240px;
  height: 240px;
}

.mod-robot .family-box > p:nth-of-type(1) {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

.mod-robot .family-box > p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.mod-robot .family-box > div span:nth-child(1) {
  font-size: 20px;
  color: #DD0e00;
}

.mod-robot .family-box > div span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.mod-smart {
  width: 1180px;
}

.mod-smart > div:nth-of-type(2) {
  margin: 0 0 20px 0;
}

.mod-smart > div:nth-of-type(6) {
  margin: 0 0 20px 0;
}

.mod-smart img {
  width: 580px;
  height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}

.mod-smart .family-box {
  float: left;
  width: 280px;
  height: 460px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  border-radius: 5px;
}

.mod-smart .family-box > img {
  margin-top: 50px;
  width: 240px;
  height: 240px;
}

.mod-smart .family-box > p:nth-of-type(1) {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

.mod-smart .family-box > p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.mod-smart .family-box > div span:nth-child(1) {
  font-size: 20px;
  color: #DD0e00;
}

.mod-smart .family-box > div span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.mod-find {
  width: 1180px;
}

.mod-find img {
  width: 580px;
  height: 460px;
  float: left;
  margin: 0 20px 20px 0;
}

.mod-find .family-box {
  float: left;
  width: 280px;
  height: 460px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  border-radius: 5px;
}

.mod-find .family-box > img {
  margin-top: 50px;
  width: 240px;
  height: 240px;
}

.mod-find .family-box > p:nth-of-type(1) {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

.mod-find .family-box > p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.mod-find .family-box > div span:nth-child(1) {
  font-size: 20px;
  color: #DD0e00;
}

.mod-find .family-box > div span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.mod-goods {
  width: 1180px;
}

.mod-goods:before, .mod-goods:after {
  content: " ";
  display: table;
}

.mod-goods:after {
  clear: both;
}

.mod-goods > div:nth-of-type(5n) {
  margin: 0 0 20px 0;
}

.mod-goods > div {
  width: 220px;
  height: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px 0;
  background-color: #fff;
  float: left;
}

.mod-goods > div > img {
  width: 180px;
  height: 180px;
  margin-top: 20px;
}

.mod-goods > div > p:nth-of-type(1) {
  width: 180px;
  margin-top: 25px;
  font-size: 14px;
  color: #333;
}

.mod-goods > div > p:nth-of-type(2) {
  font-size: 20px;
  color: #DD0e00;
  margin: 25px 0 15px 0;
  line-height: 100%;
}

.mod-goods > div > p:nth-of-type(3) {
  font-size: 12px;
  color: #F17F38;
  width: 52px;
  height: 17px;
  text-align: center;
  border: 1px solid #F17F38;
}

.leftside-box {
  width: 80px;
  height: 330px;
  position: fixed;
  top: 50%;
  right: 50%;
  margin-right: 598px;
  display: none;
}

.leftside-box a {
  display: block;
  width: 80px;
  height: 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leftside-box a li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  width: 80px;
  height: 30px;
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #eee;
}

.leftside-box a > li.active {
  width: 100;
  color: #dd0e00;
  background: #f6f6f6;
  font-weight: 800;
}

.rightside-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 39px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #e7e7e7;
}

.rightside-box > span:nth-of-type(1):hover i {
  display: block;
  z-index: 2;
}

.rightside-box > span:nth-of-type(1) {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 53%;
}

.rightside-box > span:nth-of-type(1) > i {
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 40px;
  top: 0;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.8;
  text-align: center;
  width: 80px;
  height: 30px;
  color: #333;
  background-color: #fff;
  display: none;
}

.rightside-box > span:nth-of-type(1) b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -80px;
}

.rightside-box > div:hover div {
  visibility: visible;
}

.rightside-box > div {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50%;
}

.rightside-box > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -105px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  color: #333;
  border-radius: 2px;
  right: 39px;
  width: 106px;
  height: 128px;
  padding: 2px;
  background-color: #fff;
  visibility: hidden;
}

.rightside-box > div > div > span {
  font-size: 14px;
  color: #333;
}

.rightside-box > div b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -104px;
}

.rightside-box > img {
  position: absolute;
  left: -122px;
  top: 542px;
  width: 128px;
  height: 230;
}

.rightside-box > section {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 214px;
}

.rightside-box > section i {
  z-index: 2;
  background: url(https://p.ssl.qhimg.com/t011705ed887cfa0629.png) no-repeat;
  display: block;
  height: 24px;
  position: absolute;
  right: 35px;
  top: -180px;
  width: 24px;
  cursor: pointer;
}

.rightside-box > section b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -154px;
}

.rightside-box > span:nth-of-type(2) {
  width: 39px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 184px;
}

.rightside-box > span:nth-of-type(2) b {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -172px -180px;
}

.wrapwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapwrap .bottom-title {
  width: 334px;
  height: 34px;
  -webkit-columns: #666;
          columns: #666;
  font-size: 18px;
  text-align: center;
  line-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.wrapwrap .bottom-title ::before {
  background: #333;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 90px;
  left: 0;
  top: 17px;
}

.wrapwrap .bottom-title ::after {
  background: #333;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 90px;
  right: 0;
  top: 17px;
}

.footer-top-wrap {
  width: 100%;
  height: 367px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top-wrap .footer-top {
  width: 1180px;
  height: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top-wrap .footer-top .footer-top-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top-wrap .footer-top .footer-top-left p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 900;
  color: #333;
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-left .one {
  width: 264px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(2) {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.footer-top-wrap .footer-top .footer-top-left .one > div {
  width: 264px;
  height: 1px;
  background-color: #333;
  margin: 19px 0 20px 0;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(3) span {
  vertical-align: middle;
  font-size: 14px;
  color: #333;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(3) > span:nth-of-type(2) {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 15px;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -8px -160px;
}

.footer-top-wrap .footer-top .footer-top-left .one > p:nth-of-type(3) > span:nth-of-type(3) {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 15px;
  background: url(../img/t019bd9e375d813e9d1.png) no-repeat;
  background-position: -40px -160px;
}

.footer-top-wrap .footer-top .footer-top-left .two {
  width: 130px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .two a {
  color: #666;
  font-size: 14px;
  line-height: 24px;
}

.footer-top-wrap .footer-top .footer-top-left .two p:nth-of-type(1) {
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-left .two p {
  margin-bottom: 6px;
}

.footer-top-wrap .footer-top .footer-top-left .three {
  width: 98px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .three a {
  color: #666;
  font-size: 14px;
  line-height: 24px;
}

.footer-top-wrap .footer-top .footer-top-left .three p:nth-of-type(1) {
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-left .three p {
  margin-bottom: 6px;
}

.footer-top-wrap .footer-top .footer-top-left .four {
  width: 128px;
  margin-right: 60px;
}

.footer-top-wrap .footer-top .footer-top-left .four p:nth-of-type(1) {
  text-indent: 8px;
}

.footer-top-wrap .footer-top .footer-top-left .four img {
  width: 128px;
  height: 128px;
}

.footer-top-wrap .footer-top .footer-top-right {
  width: 301px;
  height: 230px;
  border-left: 1px solid #979797;
}

.footer-top-wrap .footer-top .footer-top-right p {
  text-align: center;
}

.footer-top-wrap .footer-top .footer-top-right > p:nth-of-type(1) {
  font-size: 18px;
  color: #333;
  font-weight: 900;
  margin-bottom: 27px;
}

.footer-top-wrap .footer-top .footer-top-right > p:nth-of-type(2) {
  font-size: 28px;
  color: #333;
  font-weight: 900;
  margin-bottom: 3px;
}

.footer-top-wrap .footer-top .footer-top-right > p:nth-of-type(3) {
  font-size: 14px;
  color: #999;
}

.footer-bottom-wrap {
  position: relative;
  z-index: 1000px;
  width: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom-wrap .footer-bottom {
  width: 1180px;
  height: 100%;
}

.footer-bottom-wrap .footer-bottom .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81px;
  border-bottom: 1px solid #666;
  margin-bottom: 18px;
}

.footer-bottom-wrap .footer-bottom .top a {
  font-size: 24px;
  color: #FFF;
  margin-right: 150px;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(3) {
  vertical-align: middle;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(3) > b {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url(../img/t019bd9e375d813e9d1.png);
  background-position: -9px 283px;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(2) {
  vertical-align: middle;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(2) > b {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url(../img/t019bd9e375d813e9d1.png);
  background-position: -45px 283px;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(1) {
  vertical-align: middle;
  margin-right: 0;
}

.footer-bottom-wrap .footer-bottom .top > a:nth-last-child(1) > b {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url(../img/t019bd9e375d813e9d1.png);
  background-position: -80px 283px;
}

.footer-bottom-wrap .footer-bottom .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 119px;
}

.footer-bottom-wrap .footer-bottom .bottom > p {
  font-size: 14px;
  color: #FFF;
  line-height: 20px;
}

.footer-bottom-wrap .footer-bottom .bottom > p:nth-of-type(3) {
  font-size: 12px;
  color: #FFFFFF80;
}

.footer-bottom-wrap .footer-bottom .bottom > p:nth-of-type(4) {
  font-size: 12px;
  color: #FFFFFF80;
}
/*# sourceMappingURL=index.css.map */